<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="logout">
            <a class="button" href="/logout">Logout</a>
        </div>
        <div class="content">
            <h5>Team <%= team.name %></h5>
            <p><%= message %></p>
            <form method="post" action="/puzzle/<%= section %>/<%= puzzle %>">
                Answer: <input type="text" class="answer" name="answer"/>
                <input class="button" type="submit" value="Submit"/>
            </form>
            <a class="button back" href="/section/<%= section %>">Back to <%= section %></a>
            <iframe src="<%= url %>"></iframe>
        </div>
    </body>
    <script>
        $('.answer').focus();
    </script>
</html>
