<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="container">
            <img src="/images/logo.jpg" alt="">
            <h1><%= section %></h1>
            <h5>Team <%= team.name %></h5>
            <% for (var i = 0; i < puzzles.length; i++) { %>
            <p><a href="/puzzle/<%= section %>/<%= puzzles[i] %>"><%= puzzles[i] %></a></p>
            <% } %>
            <h5><a href="/logout">Logout</a></h5>
        </div>
    </body>
</html>

